@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html,
body {
    @apply min-h-[100vh] h-auto m-0 p-0 overflow-x-hidden
}

body {
    @apply flex flex-col bg-sky-200 dark:bg-sky-950
}


@layer components {
    .outline-solid {
        outline-style: solid;
    }
}

.link {
    @apply text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500 hover:underline font-bold
}

.notification-animation {
    animation-name: notification;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: none;
}

@keyframes notification {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    20%,
    80% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

blockquote p {
    @apply inline mx-2 !font-semibold
}

.thin-scrollbar {
    scrollbar-width: thin;
}

.thin-scrollbar::-webkit-scrollbar,
.markdown::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    @apply dark:bg-gray-900 bg-gray-100
}

*::-webkit-scrollbar-thumb {
    @apply dark:bg-gray-700 bg-gray-300 border-[3px] border-solid dark:border-gray-900 border-gray-100
}

*::-webkit-scrollbar {
    @apply w-4 h-4
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
