@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html,
body {
    @apply min-h-[100vh] h-auto m-0 p-0 overflow-x-hidden
}

body {
    @apply flex flex-col bg-sky-200 dark:bg-sky-950
}


@layer components {
    .outline-solid {
        outline-style: solid;
    }
}

.link {
    @apply text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500 hover:underline font-bold
}

.notification-animation {
    animation-name: notification;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: none;
}

@keyframes notification {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    20%,
    80% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.markdown-lite strong {
    @apply font-extrabold text-gray-900 dark:text-gray-100
}

.markdown {
    @apply overflow-x-auto
}

.markdown h6 {
    @apply my-2 font-bold text-xs dark:text-white
}

.markdown h5 {
    @apply my-2 font-bold text-sm dark:text-white
}

.markdown h4 {
    @apply my-2 font-bold text-base dark:text-white
}

.markdown h3 {
    @apply my-2 font-bold text-lg dark:text-white
}

.markdown h2 {
    @apply my-2 font-bold text-xl dark:text-white
}

.markdown h1 {
    @apply my-2 font-bold text-2xl dark:text-white
}

.markdown ul, .markdown ol {
    @apply pl-5 dark:text-white
}

.markdown img {
    @apply my-6
}

.markdown :not(pre)>code {
    @apply bg-slate-100 dark:bg-slate-900 border-[0.2px] border-gray-500 p-[0.5px] mx-1 rounded-md
}

.markdown blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    @apply bg-slate-100 dark:bg-slate-900 rounded-sm dark:border-l-gray-600 border-l-gray-400 border-l-[10px] mx-2.5 my-6 px-2.5 py-2
}

.markdown blockquote:before {
    @apply dark:text-gray-600 content-[open-quote] text-gray-400 text-4xl ml-px align-[-0.5rem]
}

.markdown blockquote:after {
    @apply dark:text-gray-600 content-[close-quote] text-gray-400 text-4xl mr-px align-[-0.5rem]
}

.markdown blockquote p {
    @apply inline
}

.markdown ol {
    @apply list-decimal dark:text-white
}

.markdown ol li {
    display: list-item !important;
    text-align: -webkit-match-parent !important;
    @apply dark:text-white
}

.markdown ul {
    @apply list-disc dark:text-white
}

.markdown pre {
    @apply p-2 rounded-md shadow-md my-4 w-fit
}

.markdown .hljs {
    @apply overflow-x-auto w-full flex
}

.markdown a {
    @apply text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500 hover:underline
}

.markdown p {
    @apply text-base text-gray-800 dark:text-gray-200 font-bold my-1
}

.markdown table {
    @apply flex dark:bg-black bg-white dark:border-gray-800 my-2 rounded-md p-1 shadow-md w-fit border flex-col
}

.markdown table tbody {
    @apply gap-1 border-t dark:border-gray-600 flex flex-col w-fit
}

.markdown table tbody tr {
    @apply gap-1 flex p-1 flex-row
}

.markdown table tbody tr td {
    @apply gap-1 min-w-[4rem] dark:text-gray-100 dark:border-gray-800 text-center w-auto bg-slate-100 dark:bg-slate-900 border flex p-1 flex-col
}

.markdown table thead {
    @apply gap-1 flex py-1 flex-col w-fit dark:text-white
}

.markdown table thead tr {
    @apply gap-1 flex px-1 flex-row
}

.markdown table thead tr th {
    @apply gap-1 min-w-[4rem] text-center w-auto dark:text-white dark:border-gray-800 bg-slate-100 dark:bg-slate-900 border flex p-1 flex-col
}

.markdown img {
    @apply max-w-[400px] max-h-[400px] mx-auto object-contain border border-slate-100 dark:border-slate-900 overflow-x-auto
}

.thin-scrollbar, .markdown {
    scrollbar-width: thin;
}

.thin-scrollbar::-webkit-scrollbar,
.markdown::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    @apply dark:bg-gray-900 bg-gray-100
}

*::-webkit-scrollbar-thumb {
    @apply dark:bg-gray-700 bg-gray-300 border-[3px] border-solid dark:border-gray-900 border-gray-100
}

*::-webkit-scrollbar {
    @apply w-4 h-4
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
