@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html,
body {
    @apply min-h-[100vh] h-auto m-0 p-0 overflow-x-hidden
}

body {
    @apply flex flex-col bg-indigo-200
}

main {
    @apply flex flex-col min-h-[85vh] mt-[8vh] mb-[6vh] h-auto
}

header {
    @apply flex flex-row fixed top-0 w-full min-h-[8vh] z-[11] justify-between items-center text-primary border-b-gray-600 bg-white p-2 shadow-xl
}

footer {
    @apply flex flex-row fixed bottom-0 w-full min-h-[6vh] text-primary border-t-gray-600 bg-white p-2 shadow-xl
}

.link {
    @apply text-blue-600 hover:text-blue-500 hover:underline text-lg font-bold
}

.notification-animation {
    animation-name: notification;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: none;
}

@keyframes notification {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    20%,
    80% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.markdown {
    overflow-x: auto;

    @apply overflow-x-auto
}

.markdown h6 {
  @apply my-2 font-bold text-xs
}

.markdown h5 {
    @apply my-2 font-bold text-sm
  }
.markdown h4 {
  @apply my-2 font-bold text-base
}

.markdown h3 {
    @apply my-2 font-bold text-lg
  }
.markdown h2 {
  @apply my-2 font-bold text-xl
}

.markdown h1 {
    @apply my-2 font-bold text-2xl
  }

.markdown ul, .markdown ol {
    @apply pl-5
}

.markdown img {
  @apply my-6
}

.markdown :not(pre) > code {
  @apply bg-slate-100 border-[0.2px] border-gray-500 p-[0.5px] mx-1 rounded-md
}

.markdown blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.markdown blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.markdown blockquote p {
   display: inline;
}

.markdown ol {
 @apply list-decimal
}

.markdown ol li {
  display: list-item !important;
  text-align: -webkit-match-parent !important;
}

.markdown ul {
  @apply list-disc
}

.markdown pre {
    @apply p-2 rounded-md shadow-md my-4 w-fit
}
.markdown .hljs {
    @apply overflow-x-auto w-full flex
}

.markdown a {
    @apply  text-blue-600 hover:text-blue-500 hover:underline
}

.markdown p {
    @apply text-base text-gray-800 font-bold my-1
}

.markdown table {
    @apply flex bg-white rounded-md p-1 shadow-md w-fit border flex-col
}

.markdown table tbody  {
    @apply gap-1 border-t flex flex-col w-fit
}

.markdown table tbody tr {
    @apply gap-1 flex p-1 flex-row
}

.markdown table tbody tr td {
    @apply gap-1 min-w-[4rem] text-center w-auto bg-slate-100 border flex p-1 flex-col
}

.markdown table thead {
    @apply gap-1 flex py-1 flex-col w-fit
}

.markdown table thead tr {
    @apply gap-1 flex px-1 flex-row
}

.markdown table thead tr th {
    @apply gap-1 min-w-[4rem] text-center w-auto bg-slate-100 border flex p-1 flex-col
}

.markdown img {
    @apply max-w-[400px] max-h-[400px] mx-auto object-contain border overflow-x-auto
}


.thin-scrollbar, .markdown {
    scrollbar-width: thin;
    scrollbar-color: #c5c5c5 #f6f6f6;
}

.thin-scrollbar::-webkit-scrollbar-corner, .markdown::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

.thin-scrollbar::-webkit-scrollbar, .markdown::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.thin-scrollbar::-webkit-scrollbar-track, .markdown::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 20px;
 }

.thin-scrollbar::-webkit-scrollbar-thumb, .markdown::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 20px;
    border: 3px solid #f6f6f6;
}
