@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-animation-card {
    @apply relative z-[1] after:content-[""] after:absolute 
    after:bottom-0 after:left-0 after:w-full after:rounded-t-lg after:h-full 
    after:scale-y-0 after:origin-bottom after:bg-gradient-to-r from-cyan-500 to-blue-500 after:z-[-1]
    after:transition-all after:duration-300 after:ease-in-out hover:after:rounded-md hover:after:scale-y-[1];
}

.underline-line {
    @apply after:content-[""] relative after:absolute after:-bottom-1
    after:left-0 after:w-full after:h-[2px] after:rounded-md after:bg-blue-600;
}
