<div class="mt-20">
    <app-projects class="min-w-full h-[60vh]"></app-projects>


    <div class="flex items-center mt-20 w-full flex-row flex-wrap min-h-[80vh] rounded-md p-4 shadow-lg bg-white mb-10 pt-10">
        <app-bar-chart class="mx-auto max-w-full sm:w-auto rounded-md p-4 shadow-lg bg-slate-100 mb-10"></app-bar-chart>
        <app-line-chart class="mx-auto max-w-full sm:w-auto rounded-md p-4 shadow-lg bg-slate-100 mb-10"></app-line-chart>
        <app-charts-pie class="mx-auto max-w-full sm:w-auto rounded-md p-4 shadow-lg bg-slate-100 mb-10"></app-charts-pie>
        <app-user-rols-charts-pie class="max-w-full sm:w-auto mx-auto rounded-md p-4 shadow-lg bg-slate-100"></app-user-rols-charts-pie>
    </div>
</div>