<div class="mt-20 mb-10 w-full flex items-center justify-center">
  <h1 class="text-gray-800 text-3xl"><span class="underline-line">Tickets</span></h1>
</div>
<div class="mat-elevation-z8 mb-20 min-w-full shadow-md bg-white">
    <table mat-table  [dataSource]="dataSource" class="min-w-full">

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{_moment(element.createdAt).fromNow()}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef> Completed </th>
        <td mat-cell *matCellDef="let element"> {{element.isCompleted ? "Yas" : "No"}} </td>
      </ng-container>


      <ng-container matColumnDef="devoloper">
        <th mat-header-cell *matHeaderCellDef> Assign To </th>
        <td mat-cell *matCellDef="let element"> {{element.devoloper}} </td>
      </ng-container>
  
      <ng-container matColumnDef="submitter">
        <th mat-header-cell *matHeaderCellDef> Submitter </th>
        <td mat-cell *matCellDef="let element"> {{element.submitter}} </td>
      </ng-container>
  
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Priority </th>
        <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update Ticket </th>
        <td mat-cell *matCellDef="let element" (click)="HandelUpdate(element.id)" class="link"> Update </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="hover:bg-gray-200" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
