@{
    ViewData["Title"] = "Internal Server Error";
}

<section>
    <h1>Internal Server Error 500</h1>
    <h2>Something went wrong on our end.</h2>
    <p>
        We apologize for the inconvenience. We are working hard to fix the problem as soon as possible.
        You can try to refresh the page or come back later.
    </p>
</section>
