@{
    ViewData["Title"] = "Forbidden";
}

<section>
    <h1>Forbidden 403</h1>
    <h2>You do not have permission to access this page.</h2>
    <p>
        The page may be restricted to certain users or roles.
        You can try to go back to the <a href="/">home page</a>
    </p>
</section>
