@{
    ViewData["Title"] = "Unauthorized";
}

<section>
    <h1>Unauthorized 401</h1>
    <h2>You are not authorized to access this page.</h2>
    <p>
        You may need to log in or register to view this page.
        You can try to go to the <a href="/Auth/Login">login page</a> or the <a href="/Auth/SingUp">register page</a>.
    </p>
</section>
