<mat-sidenav-container class="">
    <mat-sidenav #sidebar mode='side' class="bg-[#0f172a] w-[230px] h-full" opened>
        <app-navbar></app-navbar>
    </mat-sidenav> 
    <mat-sidenav-content class="bg-gray-100 h-[100vh]">
        <div class="content ">
            <div class="toolbar">
                <mat-toolbar class="justify-between bg-blue-200">
                    <mat-icon class="ml-[15px] text-[#6D8299] cursor-pointer hover:text-gray-700 transition-all" (click)="handelClick()">{{isClosed ? "menu" : "close"}}</mat-icon>
                    <div class="mt-[15px]">
                        <mat-icon class="ml-[15px] text-[#6D8299] cursor-pointer hover:text-gray-700 transition-all">search</mat-icon>
                        <mat-icon class="ml-[15px] text-[#6D8299] cursor-pointer hover:text-gray-700 transition-all">bookmark_border</mat-icon>
                        <mat-icon class="ml-[15px] text-[#6D8299] cursor-pointer hover:text-gray-700 transition-all">mail_outline</mat-icon>
                        <mat-icon id="logout" class="ml-[15px] text-[#6D8299] cursor-pointer hover:text-gray-700 transition-all" (click)="HandelLogout()">logout</mat-icon>
                    </div>
                </mat-toolbar>
            </div>
            <div class="ml-[30px] min-h-[100vh] bg-gray-100">
                <router-outlet>

                </router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
