<div class="contanier w-full h-full bg-gray-100">
    <div class="flex justify-center h-full w-full items-center ">
        <form  (submit)="HandelSubmit($event)" class="example-form justify-center flex flex-col rounded-md bg-white shadow-lg  py-10 px-20">
            <div class="flex items-center justify-center w-full flex-col">
                <mat-icon aria-hidden="false" aria-label="Example login icon" fontIcon="login" class="w-auto h-auto text-3xl material-icons-outlined  flex text-[#0b4ea5]"></mat-icon>
                <h2 class="text-2xl text-center text-[#0b4ea5]">
                    Login
                </h2>
            </div>


            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="DescriptionFormControl" 
                    placeholder="Ex. pat@example.com">
                <mat-error *ngIf="DescriptionFormControl.hasError('email') && !DescriptionFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="DescriptionFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="TitleFormControl" 
                    placeholder="Ex. pat@example.com">
                <mat-error *ngIf="TitleFormControl.hasError('email') && !TitleFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="TitleFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="NameFormControl" 
                    placeholder="Ex. pat@example.com">
                <mat-error *ngIf="NameFormControl.hasError('email') && !NameFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="NameFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Toppings</mat-label>
                <mat-select [formControl]="toppingsFormControl" multiple>
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button  class="mr-auto mt-4" color="primary">Submit</button>
        </form>
    </div>
</div>

