<div class="relative">
  <div *ngIf="isChanged" class="example-button-container fixed bottom-10 right-10">
    <button mat-mini-fab color="primary" (click)="HandleSave()" aria-label="Example icon button with a menu icon">
      <mat-icon>save</mat-icon>
    </button>
  </div>

  <div class="p-4 flex justify-evenly items-center">
    <app-user-chart-pie class="rounded-md p-4 shadow-lg bg-slate-100"></app-user-chart-pie>
  </div>

  <div *ngIf="devTickets.length" cdkDropListGroup class="items-center justify-center flex mr-4 my-10">

    <div
      class="grid grid-cols-1 gap-2 px-6 py-2  sm:grid-cols-2 md:grid-cols-3 w-full bg-white rounded-md shadow-md border">


      <div class="example-container">
        <h2 class="text-center">New</h2>

        <div cdkDropList [cdkDropListData]="New" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of New" cdkDrag><a [href]="'ticket/' + item.id" class="hover:text-blue-500 text-blue-600 text-base cursor-pointer hover:underline ">{{item.name}}</a></div>
        </div>
      </div>


      <div class="example-container">
        <h2 class="text-center">In Progress</h2>

        <div cdkDropList [cdkDropListData]="Progress" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of Progress" cdkDrag><a [href]="'ticket/' + item.id" class="hover:text-blue-500 text-blue-600 text-base cursor-pointer hover:underline ">{{item.name}}</a></div>
        </div>
      </div>


      <div class="example-container">
        <h2 class="text-center">Done</h2>

        <div cdkDropList [cdkDropListData]="Done" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of Done" cdkDrag><a [href]="'ticket/' + item.id" class="hover:text-blue-500 text-blue-600 text-base cursor-pointer hover:underline ">{{item.name}}</a></div>
        </div>
      </div>

    </div>

  </div>

  <div *ngIf="!devTickets.length" class="flex mt-10 w-full text-center justify-center items-center">
    <h1>No Ticket Found For You</h1>
  </div>


</div>