<div class="max-w-[80vw] flex items-center justify-center mx-auto  bg-gray-100">
    <div class="flex justify-center h-full w-full items-center ">
        <form (submit)="HandelSubmit($event)"
            class="justify-center max-w-[80vw]  flex flex-col rounded-md bg-white shadow-lg py-10 px-20">
            <div class="flex items-center justify-center w-full flex-col">
                <mat-icon *ngIf="updateProject" aria-hidden="false" fontIcon="update"
                    class="w-auto h-auto text-3xl material-icons-outlined  flex text-[#0b4ea5]"></mat-icon>
                <mat-icon *ngIf="!updateProject" aria-hidden="false" fontIcon="create"
                    class="w-auto h-auto text-3xl material-icons-outlined  flex text-[#0b4ea5]"></mat-icon>
                <h2 *ngIf="!updateProject" class="text-lg text-center text-[#0b4ea5]">
                    Create New Project
                </h2>
                <h2 *ngIf="updateProject" class="text-lg text-center text-[#0b4ea5]">
                    Update Project
                </h2>
            </div>

            <div class="inline-flex flex-wrap">
                <mat-form-field class="sm:mr-2" appearance="fill">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput [formControl]="TitleFormControl">
                    <mat-error *ngIf="TitleFormControl.hasError('minLength') && !TitleFormControl.hasError('required')">
                        Please enter at least 8 characters
                    </mat-error>
                    <mat-error *ngIf="TitleFormControl.hasError('required')">
                        Title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="sm:mr-2" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput [formControl]="NameFormControl">
                    <mat-error *ngIf="NameFormControl.hasError('minLength') && !NameFormControl.hasError('required')">
                        Please enter at least 4 characters
                    </mat-error>
                    <mat-error *ngIf="NameFormControl.hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5" [formControl]="DescriptionFormControl"></textarea>
                <mat-error
                    *ngIf="DescriptionFormControl.hasError('minLength') && !DescriptionFormControl.hasError('required')">
                    Please enter at least 16 characters
                </mat-error>
                <mat-error *ngIf="DescriptionFormControl.hasError('required')">
                    Description is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <button type="submit" mat-raised-button class="mr-auto mt-4" color="primary">Submit</button>
        </form>
    </div>
</div>