<div class="contanier w-full h-full bg-gray-100">
    <div class="flex justify-center h-full w-full items-center ">
        <form (submit)="HandelSubmit($event)" class="example-form justify-center flex flex-col rounded-md bg-white shadow-lg  py-10 px-20">
            <div class="flex items-center justify-center w-full flex-col">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="lock_open" class="w-auto h-auto text-3xl material-icons-outlined  flex text-[#0b4ea5]"></mat-icon>
                <h2 class="text-2xl text-center text-[#0b4ea5]">
                    Sign In
                </h2>
            </div>

            <div class="flex flex-row justify-between">
                <mat-form-field class="mr-2"  appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput #input [formControl]="firstNameFormControl" placeholder="First Name">
                    <mat-error *ngIf="firstNameFormControl.hasError('minlength') && !firstNameFormControl.hasError('required')">
                        Please enter a name of at least 3 characters
                    </mat-error>
                    <mat-error *ngIf="firstNameFormControl.hasError('required')">
                        First Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="ml-2"  appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput #input  [formControl]="lastNameFormControl" placeholder="Last Name">
                    <mat-error *ngIf="lastNameFormControl.hasError('minlength') && !lastNameFormControl.hasError('required')">
                        Please enter a name of at least 3 characters
                    </mat-error>
                    <mat-error *ngIf="lastNameFormControl.hasError('required')">
                        Last Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'">
                <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
                    Please enter a password of at least 8 characters
                </mat-error>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-raised-button type="submit" class="mr-auto" color="primary">Submit</button>
        </form>
    </div>
</div>