<div class="navbar">
    <div class="text-center font-[800] mt-10 mb-[50px]">
        <div class="flex relative justify-center items-center">
            <img class="mt-4 rounded-full max-w-[70%] font-[800] mb-[50px]"
                [src]='user.avatarUrl ? user.avatarUrl : "../../../../assets/images/User_Placeholder.png"' alt="">
            <label for="file">
                <span
                    class="absolute flex justify-center items-center right-6 cursor-pointer bg-white h-6 p-3.5 hover:p-[18px] hover:bg-gray-200 text-gray-700 hover:text-gray-900 shadow-md transition-all rounded-3xl ">

                    <mat-icon class="absolute">
                        create
                    </mat-icon>

                </span>
            </label>
            <input (change)="HandelUploadAvatar($event)" class="hidden w-0 h-0" type="file" id="file">
        </div>
        <h4 class="text-white">{{user.role}}</h4>
        <p class="-mt-[10px] text-[#697d95]">{{user.email}}</p>
    </div>
    <div class="menu">
        <div class="text-[#466be0] uppercase font-[800] mb-[20px] ml-[40px]">
            <span>dashboard</span>
        </div>
        <div class="mx-[10px]">
            <button mat-button class="w-full relative flex pl-[40px] hover:bg-[#2c3344] focus:bg-[#2c3344] mb-[10px]"
                [routerLink]="['/']">
                <mat-icon class="text-[#8997ac] text-center">dashboard</mat-icon>
                <span class="ml-[15px] text-white">Home</span>
            </button>

            <button *ngIf="user.role === 'Developer'" [routerLink]="['/user-ticket']" mat-button
                class="w-full relative flex pl-[40px] hover:bg-[#2c3344] focus:bg-[#2c3344] mb-[10px]">
                <mat-icon class="text-[#8997ac] text-center">build</mat-icon>
                <span
                    class="absolute w-[18px] h-[18px] text-sm text-center text-white left-14 bottom-4 bg-red-600 rounded-full">{{3}}</span>
                <span class="ml-[15px] text-white">Your Tickets</span>
            </button>


            <button [routerLink]="['/manage-users']" mat-button
                class="w-full relative flex pl-[40px] hover:bg-[#2c3344] focus:bg-[#2c3344] mb-[10px]">
                <mat-icon class="text-[#8997ac] text-center">manage_accounts</mat-icon>
                <span class="ml-[15px] text-white">{{user.role === 'Admin' ? "Manage Users" : "Users"}}</span>
            </button>

        </div>
    </div>
</div>