<div>

    <div class="max-w-lg">
        <div *ngFor="let comment of comments" class="flex shadow-md p-2 mb-4 flex-col rounded-md bg-white w-full">
            <div>
                <span class="text-base text-gray-700 mr-2">By {{comment.userName}}</span>
                <span class="text-sm text-gray-500">{{_moment(comment.createdAt).fromNow()}}</span>
            </div>

            <span class="text-base text-gray-700">{{comment.content}}</span>
        </div>
    </div>


    <div class="max-w-lg rounded-lg shadow-md shadow-blue-600/50">
        <form action="" class="w-full p-4">
          <div class="mb-2">
            <label for="comment" class="text-lg text-gray-600">Add a comment</label>
            <textarea
              class="w-full h-20 p-2 border rounded focus:outline-none focus:ring-gray-300 focus:ring-1"
              name="comment"
              placeholder=""></textarea>
          </div>
          <div>
            <button class="px-3 py-2 text-sm text-blue-100 bg-blue-600 rounded">
              Comment
            </button>
            <button
              class="px-3 py-2 text-sm text-blue-600 border border-blue-500 rounded">
              Cancel
            </button>
          </div>
        </form>
      </div>

</div>
